@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');

/*
font-family: 'Open Sans', sans-serif;
300 light
400 regular
600 semin-bold
700 bold

font-family: 'Open Sans Condensed', sans-serif;
300 light
700 bold
*/

html, body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	color: inherit;
	text-decoration: none;
	opacity: 0.75;
}
header {
	background: url(/img/header/background-encabezado.jpg) center center;
	background-size: cover;
	min-height: 240px;
	padding: 20px;
	color: #fff;
}
header a {
	color: #fff;
}
header .logo img {
	max-width: 200px;
}
header .redes a {
	font-size: 1.5rem;
	margin-left: 0.2rem;
}
header .telefono {
	display: inline-block;
	background-color:rgba(0, 0, 0, 0.55);
	padding: 0.2rem 0.8rem;
	border-radius: 1rem;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 1rem 0;
}
header .telefono i {
	font-size: 2rem;
}
header .telefono span {
	font-size: 2.25rem;
	color: #fff;
}
header .links {
	font-size: 0.9375rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
header .buscador i {
	color: #ff8200;
	font-size: 2rem;
	vertical-align: middle;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.75);
}
header .buscador .form-control {
	display: inline;
	vertical-align: middle;
	font-style: italic;
	font-size: 1.125rem;
	color: #808080;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.75);
	margin: 0 0.3rem;
}
header .buscador .btn {
	border: none;
	background: rgb(255,130,0);
	background: -webkit-linear-gradient(bottom, rgba(255,130,0,1) 0%, rgba(202,103,0,1) 50%, rgba(255,130,0,1) 100%);
	background: -o-linear-gradient(bottom, rgba(255,130,0,1) 0%, rgba(202,103,0,1) 50%, rgba(255,130,0,1) 100%);
	background: linear-gradient(to top, rgba(255,130,0,1) 0%, rgba(202,103,0,1) 50%, rgba(255,130,0,1) 100%);
	box-shadow: 3px 3px 4px rgba(0,0,0,0.75);
	font-weight: 700;
}
nav ul {
	width: 100%;
}
.colLeft label {
	padding: 0.2rem 0.4rem;
	background: #d9d9d9;
	font-size: 1rem;
	font-weight: 700;
	display: block;
}
.navbar {
	padding: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-item {
	border-bottom: solid thin #d9d9d9;
}
.navbar-light .navbar-nav .nav-item:last-child {
	border-bottom: none;
}
.zonaCobertura label {
	margin: 2em 0 1em;
	line-height: 1.4rem;
}
.zonaCobertura i {
	color: #800000;
	font-size: 3rem;
	vertical-align: middle;
	float: left;
	margin-right: 1rem;
}
.zonaCobertura iframe {
	border: solid thin #d9d9d9;
}
footer {
	background: #800000;
	color: #fff;
}
footer .telefono {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 2.25rem;
}
footer .telefono i {
	font-size: 1.8rem;
}
footer a {
	color: #fff;
}
footer .parrillas img {
	max-width: 118px;
}
footer .kilak img {
	max-width: 95px;
}
.productos article {
	width: 32%;
	max-width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f2f2f2;
	border: solid thin #cecece;
	padding: 1rem!important;
	margin: 0.5rem;
}
.productos article:nth-of-type(3n) {
	margin-right: 0;
}
.productos article:first-of-type, .productos article:nth-of-type(4n) {
	margin-left: 0;
}
.productos article img {
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}
.productos article .seccion {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #636466;
	font-size: 0.875rem;
}
.productos article h2 {
	font-size: 1.625rem;
	color: #800000;
}
.productos article .precio {
	font-size: 1.25rem;
	color: #000;
}
.productos article .wa, .detalleProducto .wa {
	color: #fff;
	background: rgb(31,181,73);
	background: linear-gradient(0deg, rgba(31,181,73,1) 0%, rgba(25,146,59,1) 50%, rgba(31,181,73,1) 100%);
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
	border-radius: 0.5rem;
	padding: 0.3rem 0.1rem 0.4rem;
	text-align: center;
	margin: 0.5rem 0.5rem;
}
.productos article .wa a, .detalleProducto .wa a {
	color: #fff;
}
.productos article .wa span, .detalleProducto .wa span {
	font-size: 0.8125rem;
	vertical-align: middle;
}
.productos article .wa i, .detalleProducto .wa i {
	font-size: 1.5rem;
	vertical-align: middle;
	margin-right: 0.3rem;
}
.whatsappGlobal {
	width: 60px;
	max-width: 60px;
	display: inline-block;
	border-radius: 50%;
	background: rgb(31,181,73);
	background: linear-gradient(0deg, rgba(31,181,73,1) 0%, rgba(25,146,59,1) 50%, rgba(31,181,73,1) 100%);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	font-size: 2.3rem;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 240px;
	z-index: 3;
}
.volanta {
	font-size: 1.625rem;
	margin-bottom: 1em;
}
.volanta a {
	color: #800000;
	font-weight: 700;
}
.paginacion {
	width: 100%;
	margin: 1.2rem 0;
	display: flex;
	justify-content: center;
	text-align: center;
}
.paginacion ul {
	list-style:none;
	text-align: center;
	padding: 0 1rem;
}
.paginacion ul li {
	display:inline-block;
	margin: 0 0.3rem;
}
.paginacion ul li a {
	display:block;
	padding: 6px 15px;
	color: #515151;
	background:#cecece;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 0.5rem;
}
.paginacion ul li .active {
	background:#800000;
	color:#fff;
	font-weight:700;
}
.paginacion .antSig {
	color: #515151;
	padding-top: 0.6rem;
}
.detalleProducto .seccion {
	color: #676767;
}
.detalleProducto h1 {
	color: #000;
	font-size: 2.875rem;
}
.detalleProducto .precio {
	color: #636466;
	font-size: 2.25rem;
	margin-bottom: 1rem;
}
.detalleProducto hr {
	border-top: solid 4px #cccccc;
	width: 15%;
	margin-inline-start: 0;
}
.detalleProducto .wa {
	display: inline;
	padding: 0.6rem 1.1rem 0.8rem;
}
.detalleProducto .wa span {
	font-size: 1.375rem;
	font-weight: 600;
}
.detalleProducto .wa i {
	font-size: 1.9rem;
}
.detalleProducto .carousel-control-next, .detalleProducto .carousel-control-prev {
	filter: invert(100%);
}
.genericos h1 {
	color: #000;
	font-size: 2.875rem;
	margin-bottom: 1rem;
}
.genericos h2 {
	font-size: 1.8rem;
	margin-top: 2rem;
}

@media only screen and (max-width: 960px) {
	header .logo img {
		max-width: 150px;
	}
	header .telefono span {
		font-size: 1.5rem;
	}
	.zonaCobertura {
		display: none;
	}
	.productos article {
		width: 100%;
		max-width: 100%;
		margin: 0.5rem 0;
	}
	.whatsappGlobal {
		top: 20px;
	}
	.paginacion .antSig {
		display: none;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav {
		flex-direction: column;
	}
}

